<div class="index">
  <div class="listhead">
<h1 style="text-align:center; margin-bottom: 0">Bar List</h1>
<form class="barlistform" style="text-align:center" action="/bar/barfilter" method="POST">
  <Label>Filter your bar type:</Label>
  <select name="barType">
    <option value="Rooftop-Bar">Rooftop-Bar</option>
    <option value="Sports-Bar">Sports-Bar</option>
    <option value="Club-Bar">Club-Bar</option>
    <option value="Hotel-Bar">Hotel-Bar</option>
    <option value="Cocktail-Bar">Cocktail-Bar</option>
    <option value="Plastic-Bar">Plastic-Bar</option>
  </select>
  <button class="listbutton">Search</button>
</form>
<p style= "text-align: center"><a href="create"><button class="barlistbutton"><i class="fas fa-plus"></i> Add a new bar</button></a></p>
</div>
 {{#each bars}}
 <div class="card barlistdiv">
 <a href="barsingle/{{id}}">
    <h3>{{name}}</h3>
    <p><img class="listimage" style="border:1px solid black" src="{{image}}" alt=""></p>
    <p>Average cost per drink: {{cost}} € </p></a>
    <p>Type of Bar: {{barType}}</p>
    <p>Rating:{{rating}}</p>
      </div>
    {{/each}}
  </div>
   
   
