<div class="index">
<form action="/bar/barfilter" method="POST">
  <Label>Type of Bar</Label>
  <select name="barType">
    <option value="Rooftop-Bar">Rooftop-Bar</option>
    <option value="Sports-Bar">Sports-Bar</option>
    <option value="Club-Bar">Club-Bar</option>
    <option value="Hotel-Bar">Hotel-Bar</option>
    <option value="Cocktail-Bar">Cocktail-Bar</option>
    <option value="Plastic-Bar">Plastic-Bar</option>
  </select>
  <button>Search</button>
</form>

<h1>Bar List</h1>
 {{#each bars}}
 <div>
 <a href="barsingle/{{id}}">
    <h3>{{name}}</h3>
    <p><img src="{{image}}" alt=""></p>
    <p>Type of Bar: {{barType}}</p>
    <p>Address: {{address}}</p>
    <p>Rating:{{rating}}</p>
    <p>Description:{{description}}</p> 
    <p>Average cost per drink: {{cost}} € </p></a>
 </div>
 {{/each}}
  </div>
   
   
<p style= "text-align: center"><a href="create"><button>Add a new bar</button></a></p>