<div class="index">
<h1 style="text-align:center">Bar List</h1>
<form style="text-align:center" action="/bar/barfilter" method="POST">
  <Label>Filter your bar type:</Label>
  <select name="barType">
    <option value="Rooftop-Bar">Rooftop-Bar</option>
    <option value="Sports-Bar">Sports-Bar</option>
    <option value="Club-Bar">Club-Bar</option>
    <option value="Hotel-Bar">Hotel-Bar</option>
    <option value="Cocktail-Bar">Cocktail-Bar</option>
    <option value="Plastic-Bar">Plastic-Bar</option>
  </select>
  <button>Search</button>
</form>
 {{#each bars}}
 <div class="card barlistdiv">
 <a href="barsingle/{{id}}">
    <h3>{{name}}</h3>
    <p><img src="{{image}}" alt=""></p>
     <p>Rating:{{rating}}</p>
    <p>Type of Bar: {{barType}}</p>
    <p>Average cost per drink: {{cost}} € </p></a>

      </div>
    {{/each}}
  </div>
   
   
<p style= "text-align: center"><a href="create"><button>Add a new bar</button></a></p>