    <div class="index singlemap">
    <h1>BAR DETAILS</h1>
    <h3>Name: {{bar.name}}</h3>
    <p><img class="listimage" src="{{bar.image}}" alt=""></p>
    <p>Type of Bar: {{bar.barType}}</p>
    <p>Address: {{bar.address}}</p>
    <p>Rating:{{bar.rating}}</p>
    <p>Description:{{bar.description}}</p> 
    <p>Average cost per drink: {{bar.cost}} € </p>

<div id="map-container"></div>
</div>
<script>
  function init () {
    const mapContainerElement = document.getElementById('map-container');
    const map = new window.google.maps.Map(mapContainerElement, {
      center: {
        lat: {{ bar.location.coordinates.[0] }},
        lng: {{ bar.location.coordinates.[1] }}
      },
      zoom: 11, 
      styles: [
            {
              elementType: "geometry",
              stylers: [
                {
                  color: "#242f3e"
                }
              ]
            },
            {
              elementType: "labels.text.stroke",
              stylers: [
                {
                  color: "#242f3e"
                }
              ]
            },
            {
              elementType: "labels.text.fill",
              stylers: [
                {
                  color: "#746855"
                }
              ]
            },
            {
              featureType: "administrative.locality",
              elementType: "labels.text.fill",
              stylers: [
                {
                  color: "#d59563"
                }
              ]
            },
            {
              featureType: "poi",
              elementType: "labels.text.fill",
              stylers: [
                {
                  color: "#d59563"
                }
              ]
            },
            {
              featureType: "poi.park",
              elementType: "geometry",
              stylers: [
                {
                  color: "#263c3f"
                }
              ]
            },
            {
              featureType: "poi.park",
              elementType: "labels.text.fill",
              stylers: [
                {
                  color: "#6b9a76"
                }
              ]
            },
            {
              featureType: "road",
              elementType: "geometry",
              stylers: [
                {
                  color: "#38414e"
                }
              ]
            },
            {
              featureType: "road",
              elementType: "geometry.stroke",
              stylers: [
                {
                  color: "#212a37"
                }
              ]
            },
            {
              featureType: "road",
              elementType: "labels.text.fill",
              stylers: [
                {
                  color: "#9ca5b3"
                }
              ]
            },
            {
              featureType: "road.highway",
              elementType: "geometry",
              stylers: [
                {
                  color: "#746855"
                }
              ]
            },
            {
              featureType: "road.highway",
              elementType: "geometry.stroke",
              stylers: [
                {
                  color: "#1f2835"
                }
              ]
            },
            {
              featureType: "road.highway",
              elementType: "labels.text.fill",
              stylers: [
                {
                  color: "#f3d19c"
                }
              ]
            },
            {
              featureType: "transit",
              elementType: "geometry",
              stylers: [
                {
                  color: "#2f3948"
                }
              ]
            },
            {
              featureType: "transit.station",
              elementType: "labels.text.fill",
              stylers: [
                {
                  color: "#d59563"
                }
              ]
            },
            {
              featureType: "water",
              elementType: "geometry",
              stylers: [
                {
                  color: "#17263c"
                }
              ]
            },
            {
              featureType: "water",
              elementType: "labels.text.fill",
              stylers: [
                {
                  color: "#515c6d"
                }
              ]
            },
            {
              featureType: "water",
              elementType: "labels.text.stroke",
              stylers: [
                {
                  color: "#17263c"
                }
              ]
            }
          ]
    });
     const latitude = {{ bar.location.coordinates.[0] }};
    const longitude= {{ bar.location.coordinates.[1] }};
    const marker = new window.google.maps.Marker({
      map,
      position: {
        lat: latitude,
        lng: longitude
      }
    });
  }
</script>
{{>mapscript}}
