    <h1>BAR DETAILS</h1>
    <h3>Name: {{bar.name}}</h3>
    <p><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQNcGrh4HgHw5C2B4a9UdVXwUcGaaD4Zi0-Jw&usqp=CAU" alt=""></p>
    <p>Type of Bar: {{bar.genre}}</p>
    <p>Address: {{bar.address}}</p>
    <p>Rating:{{bar.rating}}</p>
    <p>Description:{{bar.description}}</p> 
    <p>Average cost per drink: {{bar.cost}} € </p></a>


