    <div class="form-row">
        <div class=" singlehead form-group col-md-6">
    <h1>{{bar.name}}</h1>
    <p><img class="listimage" src="{{bar.image}}" alt=""></p>
    <p><i class="fas fa-glass-martini-alt"></i>    Type of Bar: {{bar.barType}}</p>
    <p><i class="fas fa-map-marker-alt"></i>  Address: {{bar.address}}</p>
    <p><i class="fas fa-star"></i>  Rating:{{bar.rating}}/10</p>
    <p><i class="fas fa-wallet"></i>  Average cost per drink: {{bar.cost}} € </p>
    <p><a class="sharelink" href="https://api.whatsapp.com/send?text=Meet%20me%20at%20this%20cool%20bar%20called{{bar.name}}%20on%20the%20https://www.google.com/search?q={{bar.address}}!" id="whatsapp-share-btn" rel="nofollow" target="_blank"><i class="fab fa-whatsapp"></i>   Share this Bar via WhatsApp</a></p>
        </div>
        <div class="mapdiv form-group col-md-6">
      <div id="map-container"></div>
      <p style="text-align:left"><i class="fas fa-edit"></i>  Description:<br>{{bar.description}}</p>
      
        </div>
    </div>



<script>
  function init () {
    const mapContainerElement = document.getElementById('map-container');
    const map = new window.google.maps.Map(mapContainerElement, {
      center: {
        lat: {{ bar.location.coordinates.[0] }},
        lng: {{ bar.location.coordinates.[1] }}
      },
      zoom: 11, 
      styles: [
            {
              elementType: "geometry",
              stylers: [
                {
                  color: "#242f3e"
                }
              ]
            },
            {
              elementType: "labels.text.stroke",
              stylers: [
                {
                  color: "#242f3e"
                }
              ]
            },
            {
              elementType: "labels.text.fill",
              stylers: [
                {
                  color: "#746855"
                }
              ]
            },
            {
              featureType: "administrative.locality",
              elementType: "labels.text.fill",
              stylers: [
                {
                  color: "#d59563"
                }
              ]
            },
            {
              featureType: "poi",
              elementType: "labels.text.fill",
              stylers: [
                {
                  color: "#d59563"
                }
              ]
            },
            {
              featureType: "poi.park",
              elementType: "geometry",
              stylers: [
                {
                  color: "#263c3f"
                }
              ]
            },
            {
              featureType: "poi.park",
              elementType: "labels.text.fill",
              stylers: [
                {
                  color: "#6b9a76"
                }
              ]
            },
            {
              featureType: "road",
              elementType: "geometry",
              stylers: [
                {
                  color: "#38414e"
                }
              ]
            },
            {
              featureType: "road",
              elementType: "geometry.stroke",
              stylers: [
                {
                  color: "#212a37"
                }
              ]
            },
            {
              featureType: "road",
              elementType: "labels.text.fill",
              stylers: [
                {
                  color: "#9ca5b3"
                }
              ]
            },
            {
              featureType: "road.highway",
              elementType: "geometry",
              stylers: [
                {
                  color: "#746855"
                }
              ]
            },
            {
              featureType: "road.highway",
              elementType: "geometry.stroke",
              stylers: [
                {
                  color: "#1f2835"
                }
              ]
            },
            {
              featureType: "road.highway",
              elementType: "labels.text.fill",
              stylers: [
                {
                  color: "#f3d19c"
                }
              ]
            },
            {
              featureType: "transit",
              elementType: "geometry",
              stylers: [
                {
                  color: "#2f3948"
                }
              ]
            },
            {
              featureType: "transit.station",
              elementType: "labels.text.fill",
              stylers: [
                {
                  color: "#d59563"
                }
              ]
            },
            {
              featureType: "water",
              elementType: "geometry",
              stylers: [
                {
                  color: "#17263c"
                }
              ]
            },
            {
              featureType: "water",
              elementType: "labels.text.fill",
              stylers: [
                {
                  color: "#515c6d"
                }
              ]
            },
            {
              featureType: "water",
              elementType: "labels.text.stroke",
              stylers: [
                {
                  color: "#17263c"
                }
              ]
            }
          ]
    });
     const latitude = {{ bar.location.coordinates.[0] }};
    const longitude= {{ bar.location.coordinates.[1] }};
    const marker = new window.google.maps.Marker({
      map,
      icon: 'https://i.ibb.co/7KJvLCc/Webp-net-resizeimage-1.png',
      position: {
        lat: latitude,
        lng: longitude
      }
    });
  }
</script>
{{>mapscript}}
