    <div class="index singlemap">
    <h1>BAR DETAILS</h1>
    <h3>Name: {{bar.name}}</h3>
    <p><img src="{{bar.image}}" alt=""></p>
    <p>Type of Bar: {{bar.barType}}</p>
    <p>Address: {{bar.address}}</p>
    <p>Rating:{{bar.rating}}</p>
    <p>Description:{{bar.description}}</p> 
    <p>Average cost per drink: {{bar.cost}} € </p>

<div id="map-container"></div>
</div>
<script>
  function init () {
    const mapContainerElement = document.getElementById('map-container');
    const map = new window.google.maps.Map(mapContainerElement, {
      center: {
        lat: {{ bar.location.coordinates.[0] }},
        lng: {{ bar.location.coordinates.[1] }}
      },
      zoom: 11
    });
     const latitude = {{ bar.location.coordinates.[0] }};
    const longitude= {{ bar.location.coordinates.[1] }};
    const marker = new window.google.maps.Marker({
      map,
      position: {
        lat: latitude,
        lng: longitude
      }
    });
  }
</script>
{{>mapscript}}
